* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper_navbar{
  width: 1170px;
  margin: 0 auto;
}
.nav_area{
  display: flex;
  flex-direction: row-reverse;
  background: #d82f4b;
  color: #fff;
  padding: 1em;
  border-radius: 25px;
}
.nav_area > ul{
list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 3;
}
.nav_area li{
  margin-right: 1em;
  line-height: 30px;
}
.nav_area li a{
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.nav_area > form{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.nav_area input{
  flex: 1;
  border-radius: 25px;
  border: 0;
}
.nav_area button{
  background: #262626;
  border: 0;
  border-radius: 1em;
  color: #fff;
  padding: 8px 20px;   
  margin-left: .3em;
}

 
#carrousel {
  justify-content: center;
  background-color: fuchsia;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#rests {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: forestgreen;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.box p {
  padding: 20px;
}

aside {
  background-color: aqua;
}

.column_shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px solid black;
  background-color: blue;
  width: 60%;
  height: 40%;
}
#shopping_cart {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  overflow: scroll;
}

.sub {
  display: flex;
  justify-content: flex-end;
  padding: -50;
}

.price {
  display: flex;
  justify-content: flex-end;
}

#user_data {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  width: 500px;
  height: 300px;
  font-size: 48px;

}

#profile a{
  display: flex;
  color: black;
  text-align: center;
  text-decoration: none;
  flex-direction: row;
}

#profile a:hover{
    color: white;
}
.profile_changes{
  width: 30%;
}
.rests_filter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: blue;
  width: 10%;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 50px;
}
#shopping_payment{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}
#column_payment {
  flex-direction: column;
  align-items: center;
  margin: 10px 410px;
  background-color: pink;
}
#total {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
#delete_all {
  display: flex;
  justify-content: flex-end;
}
#confirm_payment {
  float: right;
}
#wrapper_shop{
  display: flex;
  justify-content: space-between;
}
.wrapper_index{
  display: flex;
  justify-content: space-between;
}
#wrapper_search{
  display: flex;
  justify-content: space-between;
}
.rest_name{
 font-size: 30px; 
}
#go_payment{
  color: white;
}
#rests_search{
  flex-direction: column;
  margin-right: 20%;
}



/* Responsivo para min 768 y max 991  */
@media only screen and (min-width: 768px) and (max-width: 991px){

    .wrapper_navbar{
    width: 100%;
  }
  .nav_area{
    flex-direction: column;
  }
  .nav_area{
    flex-direction: row;
    margin-bottom: 1em;
  }
  
  #carrousel {
    display: none;
  }

  #aside-index {
    display: none;
  }

  #rests {
    flex-direction: column;
  }
  .column_shop{
    width: 100%;
  }
  #profile{
    width: 40%;
  }
  #user_data{
    width: 60%;
  }
  hr{
    width: 100%;
  }
  #wrapper_shop{
    flex-direction: column-reverse;
    justify-content: center;
  }
  #shopping_payment{
    width: 100%;
    margin-top: 20px;
  }
  #column_payment{
    width: 100%;
    margin: auto;
  }
   #wrapper_search{
    flex-direction: column;
    justify-content: center;
}
  .wrapper_index{
    flex-direction: column;
    justify-content: center;
}
  .rests_filter{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    height: 70px;
  }
  #rests_search{
    height: 100%;
    margin-right: auto;
  }
  #rests_filter{
    height: 100%;
    margin-right: auto;
  }
}


@media only screen and (max-width: 767px){
  .wrapper_navbar{
    width: 100%;
  }
  .nav_area{
    flex-direction: column;
  }
  .nav_area ul{
    flex-direction: row;
    margin-bottom: 1em;
  }
  .nav_area li{
    padding: 0;
    font-size: 16px;
  }
}
  