* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav_area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #f45905;
  color: #fff;
  padding: 0 1em 0 1em;
  border-radius: 25px;
}

.nav_area > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav_area li {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_area li a {
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.nav_area > form {
  display: flex;
  justify-content: flex-end;
}

.nav_area input {
  border: 0;
  width: 400px;
  height: 45px;
  font-size: 16px;
  padding: 0 15px 0 10px;
}

.nav_area button {
  background: #45969b;
  border: 0;
  height: 45px;
  color: #fff;
  padding: 8px 20px;
}

.nav_area a:hover {
  background-color: #c70d3a;
  color: black;
}

.nav_area a.active {
  background-color: #c70d3a;
  color: white;
  border-radius: 15px;
}

.nav_area a img {
  display: inline-flex;
}

#carrousel {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#rests {
  display: flex;
  margin-left: 80px;
  margin-top: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.box p {
  padding: 20px;
}

.column_shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px solid black;
  width: 60%;
  height: 40%;
}

#shopping_cart {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  overflow: scroll;
}

.sub {
  display: flex;
  justify-content: flex-end;
  padding: -50;
}

.price {
  display: flex;
  justify-content: flex-end;
}

#user_data {
  display: flex;
  flex-direction: column;
  font-size: 28px;

}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 300px;
  font-size: 48px;

}

#profile a {
  display: flex;
  color: black;
  text-align: center;
  text-decoration: none;
  flex-direction: row;
}

#profile a:hover {
  color: #c70d3a;
}


/* Credit Card */
.credit-card {
    width: 360px;
    height: 330px;
    margin: 60px auto 0;
    border: 1px solid #45969b;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}
.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
 
.form-body {
    height: 315px;
    padding: 30px 30px 20px;
}
/* Title */
.title {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}
/* Common */
.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #86939e;
}
/* Card Number */
.card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #45969b;
    border-radius: 6px;
}
/* Date Field */
.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #45969b;
    border-radius: 6px;
    background: url('caret.png') no-repeat;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}
/* Card Verification Field */
.cvv-input input {
    float: left;
    width: 130px;
    padding-left: 20px;
    border: 2px solid #45969b;
    border-radius: 6px;
    background: #fff;
}
 
.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}
 
.cvv-details p {
    margin-top: 6px;
}
/* Buttons Section */
.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    background: #f45905;
}
 
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}
 

.rests_filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  justify-content: space-around;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#shopping_payment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

#column_payment {
  flex-direction: column;
  align-items: center;
  margin: 10px 410px;
}

#total {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

#delete_all {
  display: flex;
  justify-content: flex-end;
}

#confirm_payment {
  float: right;
}

#wrapper_shop {
  display: flex;
  justify-content: space-between;
}

.wrapper_index {
  display: flex;
  justify-content: space-between;
}

#wrapper_search {
  display: flex;
  justify-content: space-between;
}

.rest_name {
  font-size: 30px;
}

#go_payment {
  color: white;
}

#rests_search {
  flex-direction: column;
  margin-right: 20%;
}

#aside-index {
  padding-top: 20px;
}

.pic-container{
  cursor: pointer;
  overflow: hidden;
}

.pic{
  width: 100%;
  height: 100%;
  display: block;
}

.pic-container.pic-xs{
  width: 50px;
  height: 50px;
}

.pic-container.pic-small{
  width: 70px;
  height: 70px;
}

.pic-container.pic-medium{
  width: 150px;
  height: 150px;
}

.pic-container.pic-large{
  width: 250px;
  height: 250px;
}


.pic-container.pic-xl{
  width: 350px;
  height: 350px;
}

.pic-container.pic-circle{
  border-radius: 50%;
}

.pic-overlay{
  background-color: #ccc;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pic-container:hover .pic-overlay{
  top: -100%;
}

.pic-overlay a{
  display: block;
  padding: 10px;
}

.pic-xs .pic-overlay a{
  padding: 5px;
}

.pic-overlay .fa-window-close-o{
  color: red;
}

.pic-overlay .fa-pencil-square-o{
  color: blue;
}

.pic-medium .pic-overlay a i{
  font-size: 20px;
}

.pic-large .pic-overlay a i{
  font-size: 35px;
}

.pic-xl .pic-overlay a i{
  font-size: 45px;
}

input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 50%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* Responsivo para min 768 y max 991  */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .nav_area {
    flex-direction: column;
  }

  .nav_area {
    flex-direction: row;
    margin-bottom: 1em;
  }

  #carrousel {
    display: none;
  }

  #aside-index {
    display: none;
  }

  #rests {
    flex-direction: column;
  }

  .column_shop {
    width: 100%;
  }

  #profile {
    width: 40%;
  }

  #user_data {
    width: 60%;
  }

  hr {
    width: 100%;
  }

  #wrapper_shop {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #shopping_payment {
    width: 100%;
    margin-top: 20px;
  }

  #column_payment {
    width: 100%;
    margin: auto;
  }

  #wrapper_search {
    flex-direction: column;
    justify-content: center;
  }

  .wrapper_index {
    flex-direction: column;
    justify-content: center;
  }

  .rests_filter {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    height: 70px;
  }

  #rests_search {
    height: 100%;
    margin-right: auto;
  }

  #rests_filter {
    height: 100%;
    margin-right: auto;
  }
}

#home_responsive {
  display: none;
}

@media only screen and (max-width: 767px) {

  .nav_area {
    flex-direction: column;
  }

  .nav_area ul {
    flex-direction: row;
    margin-bottom: 1em;
  }

  .nav_area li {
    padding: 0;
    font-size: 16px;
  }

  #carrousel {
    display: none;
  }

  #aside-index {
    display: none;
  }

  #rests {
    flex-direction: column;
    width: 100%;
  }

  #home_responsive {
    display: block;
  }

  #home_full {
    display: none;
  }

  .nav_area > form {
    margin-bottom: 10px;
  }
  #user_data{
    width: 60%;
  }
  hr{
    width: 100%;
  }
  #profile{
    width: 35%;
  }
}
