* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.proceed-btn{
  background-color: #f45905;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 95px;
}
.nav_area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #f45905;
  color: #fff;
  padding: 0 1em 0 1em;
  border-radius: 25px;
}

.nav_area > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav_area li {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_area li a {
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.nav_area > form {
  display: flex;
  justify-content: flex-end;
}

.nav_area input {
  border: 0;
  width: 400px;
  height: 45px;
  font-size: 16px;
  padding: 0 15px 0 10px;
}

.nav_area button {
  background: #45969b;
  border: 0;
  height: 45px;
  color: #fff;
  padding: 8px 20px;
  margin-top: 10px;
}

.nav_area a:hover {
  background-color: #c70d3a;
  color: black;
}

.nav_area a.active {
  background-color: #c70d3a;
  color: white;
  border-radius: 15px;
}

.nav_area a img {
  display: inline-flex;
  margin-top: 18px;

}

#carrousel {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#rests {
  display: flex;
  margin-left: 80px;
  margin-top: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.box p {
  padding: 20px;
}

.column_shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px solid black;
  width: 60%;
  height: 40%;
}

#shopping_cart {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  overflow: scroll;
}

.sub {
  display: flex;
  justify-content: flex-end;
  padding: -50;
}

.price {
  display: flex;
  justify-content: flex-end;
}

#user_data {
  display: flex;
  flex-direction: column;
  font-size: 28px;

}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 300px;
  font-size: 48px;

}

#profile a {
  display: flex;
  color: black;
  text-align: center;
  text-decoration: none;
  flex-direction: row;
}

#profile a:hover {
  color: #c70d3a;
}

/* Registro de Tarjetas*/

label {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 1rem;
}

input {
  display: block;
  width: 100%;
  background: white;
  padding: 0;
  font-size: 14px;
  border: 1px solid #000;
}

.wrapper-card {
  border-radius: 2px;
  padding: 2px;
  background-color: #eee;
  border: 1px solid #000;
  width: 50%;
}
 
/* Form
-------------------------------------------------*/

.container {
  display: flex;
  flex-wrap: wrap;
}

.card-number { flex: 100%; }
.name { flex: 22rem; }
.month { width: 5.4rem; }
.year { width: 6.6rem; }
.security { flex: 11rem; }

.expiry-inputs { display: flex; }

.expiration-security {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

.card-number,
.name,
.expiry-inputs,
.expiration {
  margin-bottom: 2px;
}

.expiry-inputs,
.month,
.expiration-security,
.name,
.card-number {
  margin-right: 2px;
}



/* Tarjetas Guardadas*/
/* Dropdown Button */
.dropbtn {
  background-color: #f45905;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ff7315;}

.rests_filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  justify-content: space-around;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#shopping_payment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

#column_payment {
  flex-direction: column;
  align-items: center;
  margin: 10px 410px;
}

#total {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

#delete_all {
  display: flex;
  justify-content: flex-end;
}

#confirm_payment {
  float: right;
}

#wrapper_shop {
  display: flex;
  justify-content: space-between;
}

.wrapper_index {
  display: flex;
  justify-content: space-between;
}

#wrapper_search {
  display: flex;
  justify-content: space-between;
}

.rest_name {
  font-size: 30px;
}

#go_payment {
  color: black;
}

#rests_search {
  flex-direction: column;
  margin-right: 20%;
}

#aside-index {
  padding-top: 20px;
}

.pic-container{
  cursor: pointer;
  overflow: hidden;
}

.pic{
  width: 100%;
  height: 100%;
  display: block;
}

.pic-container.pic-xs{
  width: 50px;
  height: 50px;
}

.pic-container.pic-small{
  width: 70px;
  height: 70px;
}

.pic-container.pic-medium{
  width: 150px;
  height: 150px;
}

.pic-container.pic-large{
  width: 250px;
  height: 250px;
}


.pic-container.pic-xl{
  width: 350px;
  height: 350px;
}

.pic-container.pic-circle{
  border-radius: 50%;
}

.pic-overlay{
  background-color: #ccc;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pic-container:hover .pic-overlay{
  top: -100%;
}

.pic-overlay a{
  display: block;
  padding: 10px;
}

.pic-xs .pic-overlay a{
  padding: 5px;
}

.pic-overlay .fa-window-close-o{
  color: red;
}

.pic-overlay .fa-pencil-square-o{
  color: blue;
}

.pic-medium .pic-overlay a i{
  font-size: 20px;
}

.pic-large .pic-overlay a i{
  font-size: 35px;
}

.pic-xl .pic-overlay a i{
  font-size: 45px;
}

/* Inputs Nombre y Direccion*/
input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
/* Responsivo para min 768 y max 991  */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .nav_area {
    flex-direction: column;
  }

  .nav_area {
    flex-direction: row;
    margin-bottom: 1em;
  }

  #carrousel {
    display: none;
  }

  #aside-index {
    display: none;
  }

  #rests {
    flex-direction: column;
  }

  .column_shop {
    width: 100%;
  }

  #profile {
    width: 40%;
  }

  #user_data {
    width: 60%;
  }

  hr {
    width: 100%;
  }

  #wrapper_shop {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #shopping_payment {
    width: 100%;
    margin-top: 20px;
  }

  #column_payment {
    width: 100%;
    margin: auto;
  }

  #wrapper_search {
    flex-direction: column;
    justify-content: center;
  }

  .wrapper_index {
    flex-direction: column;
    justify-content: center;
  }

  .rests_filter {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    height: 70px;
  }

  #rests_search {
    height: 100%;
    margin-right: auto;
  }

  #rests_filter {
    height: 100%;
    margin-right: auto;
  }
}

#home_responsive {
  display: none;
}

@media only screen and (max-width: 767px) {

  .nav_area {
    flex-direction: column;
  }

  .nav_area ul {
    flex-direction: row;
    margin-bottom: 1em;
  }

  .nav_area li {
    padding: 0;
    font-size: 16px;
  }

  #carrousel {
    display: none;
  }

  #aside-index {
    display: none;
  }

  #rests {
    flex-direction: column;
    width: 100%;
  }

  #home_responsive {
    display: block;
  }

  #home_full {
    display: none;
  }

  .nav_area > form {
    margin-bottom: 10px;
  }
  #user_data{
    width: 60%;
  }
  hr{
    width: 100%;
  }
  #profile{
    width: 35%;
  }
}
